body {
    background-color: aquamarine;
    color: brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
    color: black;
    font-size: 1.3em;
    text-decoration: dotted;
}

p {
    color: magenta;
}

