nav {
    background-color: blue; 
    word-spacing: 10%;
    text-align: center;
}

nav a {
    display: inline-block;
    color: aliceblue;
    margin: 10px 30px;
    text-decoration: none;
}

h1 {
    text-align: center;
    margin: 2em auto;
}

.container {
    text-align: center;
}

.placeholder {
    display: inline-block;
    padding: 3em;
    border: 1px groove red;
    margin: 3em 3em;
}

#one {
    background-color: blueviolet;
}

#two {
    background-color: aqua;
}

#three {
    background-color: chartreuse;
}

@media all and (max-width: 320px) {
    .placeholder {
        display: block;
    }
}
